#dynamic-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.view-button {
    width: 100%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    background-color: #8f27f0;
    color: white;
    transition: all 0.4s ease-out;
    text-decoration: none;
    border-radius: 20px;
}
.view-button:hover{
    background-color: #2a2230;
    color: #8f27f0;
    text-decoration: underline;
    border-radius: 20px;
}
@media(max-width:400px){
    .view-button {
        width: 60%;
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-family: monospace;
        font-size: 2em;
        background-color: #8f27f0;
        color: #2a2230;
        transition: all 0.4s ease-out;
        text-decoration: none;
        border-radius: 20px;
    }
}