/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/

.container {
   font-family: monospace;
   transition: all 2s ease-out;
   color: #8f27f0;
   border-radius: 20px;
}
.container h2,h3{
   color: #8f27f0;
   border-radius: 20px;
}

#list {
   background-color: #84709c;
   border-radius: 20px;
}
.listItem div{
   background-color: #84709c;
   transition: all .2s ease-in-out;
   font-size:14px;
   font-weight: bold;
   box-sizing: border-box;
   border-radius: 20px;
}
.listItem div:hover {
   color:#8f27f0;
   cursor: pointer;
}
#Input {
   height: 40px;
   width: 50%;
   font-size: 20px;
   color: #ae87d0;
   border-radius: 10px;
}
.listItem{
   box-sizing: border-box;
   height: 500px;
   display: flex;
   flex-direction: column;
   flex-wrap:wrap;
   padding: 50px;
   border-radius: 20px;
   border-radius: 20px;
}
@media(max-width:400px){
   .listItem{
      box-sizing: border-box;
      height: 300px;
      display: flex;
      flex-direction: column;
      /* flex-wrap:wrap; */
      padding: 5px;
      font-size: 8px;
   }
}